.sidenav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: #f1f1f1;
}

.sidenav * {
  user-select: none;
}

.sidenav li>a {
  color: white;
  display: inline-block;
  padding: 0px 16px;
  text-decoration: none;
}

.sidenav li {
  display: block;
  width: 250px;
  clear: both;
  padding: 20px 20px 20px 0px;
  color: ghostwhite;
  cursor: pointer;
}


/*Slider underneath Start*/

.sidenav li.Slider {
  position: relative;
}

.sidenav li.Slider:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  border-bottom: 2px solid #3366FF;
  transition: 0.6s;
}

.sidenav li.Slider:hover:after {
  width: 100%;
}


/*Slider underneath End*/

li:hover {
  background-color: #555;
  color: white;
}

i {
  font-family: 'Segoe MDL2 Assets';
  font-size: 23px;
  width: 2em;
  vertical-align: middle;
  text-align: center;
  margin: 0px;
}

li.active {
  background: rgba(0, 87, 91, 0.36);
}